@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background-color: #f4f5f7;
  color: #1f2430;
}

.react-pdf__Page__canvas {
  max-width: 100%;
  height: auto !important;
}
